"*":
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/"
    erlangHome: "/usr/local/bin/"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "archive-view"
      "about"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-git"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-toml"
      "language-xml"
      "metrics"
      "open-on-github"
      "package-generator"
      "spell-check"
      "styleguide"
      "welcome"
      "release-notes"
      "language-php"
    ]
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Input"
    invisibles: {}
  "exception-reporting":
    userId: "66e1f9ec-07b5-1288-288f-8c8b70e273c6"
  "git-diff":
    showIconsInEditorGutter: true
  "one-dark-ui":
    fontSize: 14
    tabSizing: "Minimum"
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  tablr:
    copyPaste:
      flattenBufferMultiSelectionOnPaste: true
    csvEditor:
      eof: true
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
