"*":
  "atom-beautify":
    apex:
      disabled: true
    arduino:
      disabled: true
    c:
      disabled: true
    cfml:
      disabled: true
    clj:
      disabled: true
    cpp:
      disabled: true
    crystal:
      disabled: true
    cs:
      disabled: true
    d:
      disabled: true
    ejs:
      disabled: true
    fortran:
      disabled: true
    general:
      beautifyEntireFileOnSave: false
    gherkin:
      disabled: true
    glsl:
      disabled: true
    handlebars:
      disabled: true
    haskell:
      disabled: true
    jade:
      disabled: true
    java:
      disabled: true
    latex:
      disabled: true
    less:
      disabled: true
    lua:
      disabled: true
    markdown:
      disabled: true
    marko:
      disabled: true
    mustache:
      disabled: true
    nginx:
      disabled: true
    nunjucks:
      disabled: true
    objectivec:
      disabled: true
    ocaml:
      disabled: true
    pawn:
      disabled: true
    perl:
      disabled: true
    php:
      disabled: true
    puppet:
      disabled: true
    python:
      beautify_on_save: true
      default_beautifier: "yapf"
      disabled: true
      formater: "yapf"
    r:
      disabled: true
    riot:
      disabled: true
    rust:
      disabled: true
    spacebars:
      disabled: true
    swig:
      disabled: true
    tss:
      disabled: true
    twig:
      disabled: true
    ux:
      disabled: true
    vala:
      disabled: true
    visualforce:
      disabled: true
    xtemplate:
      disabled: true
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/"
    erlangHome: "/usr/local/bin/"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "archive-view"
      "about"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-git"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-xml"
      "metrics"
      "open-on-github"
      "package-generator"
      "spell-check"
      "styleguide"
      "welcome"
      "release-notes"
      "language-php"
    ]
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Input"
    invisibles: {}
  "exception-reporting":
    userId: "66e1f9ec-07b5-1288-288f-8c8b70e273c6"
  "git-diff":
    showIconsInEditorGutter: true
  "git-projects":
    ignoredPatterns: "node_modules;\\.git;log;tmp;temp;deps"
    rootPath: "/Users/andrea/Code"
    sortBy: "Latest modification date"
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    fontSize: 14
    tabSizing: "Minimum"
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    sassShadeAndTintImplementation: "bourbon"
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
    toggles:
      autoClose: true
      selectToCopy: false
  tablr:
    copyPaste:
      flattenBufferMultiSelectionOnPaste: true
    csvEditor:
      eof: true
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
